/* DIAGNOSTICS PANEL
------------------------------------------------------------------ */
.diagnostics-panel-key,
.diagnostics-panel-rules {
    background: #DDD;
    opacity: 0.9;
    padding: 8px 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
}

.diagnostics-panel-key p,
.diagnostics-panel-rules p {
    color: #333;
    font-size: 12px;
    margin: 2px 0;
    padding: 0;
}

.diagnostics-panel-key p span,
.diagnostics-panel-rules p span {
    float: right;
}


/* DIAGNOSTICS DASHBOARD
------------------------------------------------------------------ */
#diagnostics-dashboard {
    background: #F4F4F4;
    border: 2px solid #EEE;
    color: #222;
    font-size: 1.0em;
    opacity: 0.9;
    padding: 0.5em 1.0em;
    position: fixed;
    right: -2px;
    top: -2px;
    width: 26.0em;
}

#diagnostics-dashboard p {
    font-size: 0.85em;
    line-height: 1.2em;
    margin: 0.6em 0;
}

#diagnostics-dashboard p span {
    float: right;
}

#diagnostics-dashboard .title {
    border-bottom: 1px solid #EEE;
    font-size: 1.6em;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}

#diagnostics-dashboard .btn {
    background-color: #222;
    border: 1px solid #999;
    color: #F4F4F4;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    margin: 0 0.5em 0 0;
    padding: 0.3em 0.8em;
    text-decoration: none;
    text-transform: uppercase;

    -moz-border-radius:     4px;
    -webkit-border-radius:  4px;
    border-radius:          4px;
}

#diagnostics-dashboard input[type='text'] {
    border: 1px solid #999;
    font-size: 0.8em;
    margin: 0 0.5em 0 0;
    padding: 0.6em 0.2em;

    -moz-border-radius:     4px;
    -webkit-border-radius:  4px;
    border-radius:          4px;
}

#diagnostics-dashboard select {
    border: 1px solid #999;
    font-size: 0.8em;
    margin: 0 0.5em 0 0;
    padding: 0.45em 0.2em;

    -moz-border-radius:     4px;
    -webkit-border-radius:  4px;
    border-radius:          4px;
}

#diagnostics-dashboard ul {
    letter-spacing: -0.35em;
    margin: 0 -1.0em -0.5em;
}

#diagnostics-dashboard ul li {
    display: inline-block;
    letter-spacing: 0em;
    margin: 0;
    width: 25%;
}

#diagnostics-dashboard ul li a {
    background-color: #EEE;
    border: 1px solid #DDD;
    color: #333;
    display: block;
    font-size: 0.8em;
    font-weight: 900;
    margin: 0;
    padding: 0.7em 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}