/* DIAGNOSTICS PANEL
------------------------------------------------------------------ */
.diagnostics-panel-rules {
    background: #DDD;
    opacity: 0.9;
    padding: 8px 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
}

.diagnostics-panel-rules p {
    color: #333;
    font-size: 12px;
    margin: 2px 0;
    padding: 0;
}


/* DIAGNOSTICS PANEL
------------------------------------------------------------------ */